<div id="events-reports" class="features">

  <div class="med-info col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 space-top-60">
    <h2>
      Reported Side Effects for: {{ vm.drug.substance_name }}
      &nbsp;
      ({{vm.drug.brand_name}}) General Information
    </h2>
  </div>

  <div class="row col-md-offset-2 col-md-8">
    <div class="col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-0">
      <h3>Seriousness</h3>
      <ul class="nav nav-pills" data-toggle="buttons">
        <li role="presentation" ng-click="vm.setSeriousness('all')" ng-class="{'active': 'all' == vm.seriousness}">
          <a href="">All</a>
        </li>
        <li role="presentation" ng-click="vm.setSeriousness('non_serious_adverse_events')"
            ng-class="{'active': 'non_serious_adverse_events' == vm.seriousness}">
          <a href="">Non-serious</a>
        </li>
        <li role="presentation" ng-click="vm.setSeriousness('serious_adverse_events')"
            ng-class="{'active': 'serious_adverse_events' == vm.seriousness}">
          <a href="">Serious</a>
        </li>
      </ul>

      <h3>Outcome</h3>
      <ul class="nav nav-pills" data-toggle="buttons">
        <li role="presentation" ng-click="vm.setOutcome('all')" ng-class="{'active': 'all' == vm.outcome}">
          <a href="">All</a>
        </li>
        <li role="presentation" ng-click="vm.setOutcome('fatal')" ng-class="{'active': 'fatal' == vm.outcome}">
          <a href="">Fatal</a>
        </li>
        <li role="presentation" ng-click="vm.setOutcome('recovering')"
            ng-class="{'active': 'recovering' == vm.outcome}">
          <a href="">Recovering</a>
        </li>
        <li role="presentation" ng-click="vm.setOutcome('not_recovered_not_resolved')"
            ng-class="{'active': 'not_recovered_not_resolved' == vm.outcome}">
          <a href="">Not Recovered</a>
        </li>
        <li role="presentation" ng-click="vm.setOutcome('recovered_resolved')"
            ng-class="{'active': 'recovered_resolved' == vm.outcome}">
          <a href="">Recovered</a>
        </li>
        <li role="presentation" ng-click="vm.setOutcome('unknown')"
            ng-class="{'active': 'unknown' == vm.outcome}">
          <a href="">Unknown</a>
        </li>
      </ul>

      <h3>Age Group</h3>

      <div range-slider min="0" max="100" model-min="vm.ageMin" model-max="vm.ageMax"
           on-handle-up="vm.searchDrugEvents()"></div>

      <h3>Switch Graphs</h3>
      <ul class="nav nav-pills" data-toggle="buttons">
        <li role="presentation" ng-click="vm.viewMode = 'charts'" ng-class="{'active': 'charts' == vm.viewMode}">
          <a href="">Bar</a>
        </li>
        <li role="presentation" ng-click="vm.viewMode = 'tree'" ng-class="{'active': 'tree' == vm.viewMode}">
          <a href="">Tree</a>
        </li>
      </ul>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-md-7 col-md-offset-0">
      <div class="charts__chart-container">
        <div id="chartContainer" class="charts__charts" ng-show="'charts' == vm.viewMode"></div>
        <div id="createTreeChart" class="charts__tree" ng-show="'tree' == vm.viewMode"></div>
      </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-md-1 col-md-offset-0">
      <div id="totalReportedContainer" class="charts__aside"></div>
      <div id="lineGraphContainer" class="charts__aside"></div>
    </div>
  </div>
</div>
