<div>
  <div class="col-md-12 page-header" >
    <div class="col-sm-9 columns ">
      Occupation Search
    </div>
    <div class="col-sm-3 text-right columns ">
      <ul class="breadcrumb" style="margin:0px;">
        <li><a href="#/">Home</a></li>
        <li><a href="#/search/">OCCUPATION SEARCH</a></li>
      </ul>

    </div>
  </div>

  <div id="searchTitle">

  </div>
  <div>

  </div>
  <br>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
  <form>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="search" label="search" id="searchInput" style="width:100%; height:36px;">
      <div class="input-group-btn">
        <button class="btn btn-default" type="submit">Search</button>
      </div>
    </div>
  </form>
</div>
