

// bower:scss
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

$fa-font-path: '/fonts/font-awesome';
@import 'style.css';
@import 'animate.min.css';
@import 'pace-theme.css';

@import '../features/search/drug-search';
@import '../features/charts/charts';

.spacer {
  margin-top: 3em;
}

.spacer-2x {
  margin-top: 6em;
}

.spacer-3x {
  margin-top: 9em;
}

.spacer-6x {
  margin-top: 18em;
}

.spacer-bottom {
  margin-bottom: 3em;
}

.spacer-bottom-2x {
  margin-bottom: 6em;
}

input + .typeahead.ng-hide { display: block !important; visibility: hidden !important; overflow: hidden; }


#rightmost {
  text-align: right;
  font-size: 20px;
}

#leftmost {
  font-size: 20px;
  text-align: left;
}

#centermost {
  text-align: center;
}

#decorative_bar {
  background-color: #bcbd22;
  height: 10px;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
#tooltip {
    position: absolute;
    text-align: center;
    width: 40px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}
#tooltip.hidden {
    display: none;
}
#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.appTitle {
  color: white;
  font-size: 22px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  color: #ccc;
  font-weight: 300;
  border-top: 1px solid #454649;
  padding: 30px 0 0;
  margin: 30px 0 0;
}

.appTitle strong{
font-weight: 700;
color:#fff;
}

.logoTitle {
  margin: 0 auto;
  padding-top: 20%;
}

.searchButton{
  background-color: #5bc0de;
}
.searchIcon{
  color: white;
}
.searchInput{
  border-radius: 0 !important;
}

section {
  height: 100vh;
}

section.landing {
  background: url("../assets/Landing_bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.chartNavButtons {
  margin: 10px;
  border-radius: 5px;
  border-bottom-right-radius: 5;
  border-top-right-radius: 5;
}

#title {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26px;

}
.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
}

h3 {
  font: normal normal 14px/1.5 'Helvetica Neue', Helvetica, sans-serif;
}


// NAVBAR OVERWRIDE
.navbar-default, .navbar-wrapper .navbar.navbar-scroll {
  background:#000;
  border-color: #000;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: normal;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover  {
  background-color: #000;
  color: #fff;
}

.navbar-default a.main-logo img{
  height: 30px;
  margin: 15px 0;
}


// FORM
.form-control{
  height: 60px;
  font-size: 16px;
  color: #6f6f6f;
}

.search_block .btn {
  padding:12px 18px;
  font-size: 24px;
}

.dropdown-menu {
  border-radius: 0px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
  background: #1ab394;
  color: #fff;
  cursor: pointer;
}

.trending{
  padding: 10px;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  bottom: 50px;
}


.trending ul{
  color: #fff;
  list-style: inline-block;
}

.trending ul li{
  list-style-type: none;
  float: left;
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
  border-left: 1px solid #ccc;
  color: #ccc;
}

.trending ul li:first-child{
  border-left: none;
  font-weight: 700;
}

.trending ul li:nth-child(2){
  border-left: none;
}

.full-row{
  padding: 60px 0;
}

.full-row.blue{
    background: #e7f6fa;
  }

.label-full-row{
  padding: 0 0;
}

.gray-bg{
  background: #f3f3f4;
}

.blue-bg{
    background: #e7f6fa;
  }


// NEED TO ADD SHOW MORE BTN
// .med-info {}
.med-info h2{
  color: #1d86c4;
  font: normal normal 20px/1.5 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 20px;
}

.med-info h4 {
  color: #333;
  font: normal normal 20px/1.5 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 20px;
}

.med-info p{
  color: #666;
  font-size: 12px;
  line-height: 1.7em;
}

.highlight {
  background-color: #f8ac59;
  padding: 4px;
  color: #fff;
}

.data-source{
  font: normal normal 16px/1.5 'Helvetica Neue', Helvetica, sans-serif;
  color: white;
  clear: both;
}

.data-source a{
  color:#1ab394;
}


// YES - NO SECTION
.label-wrap{
  background: #fff;
  padding: 30px;
}

.label-wrap p {
  color: #676a6c;
  font-size: 13px;
  line-height: 1.9em;


}

.label-wrap.confirm p{
  color:#676a6c;
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 20px 0;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 200;
}

.label-wrap.confirm p strong{
  color:#f8ac59;
}

.nav-pills li.yes-btn a, .nav-pills li.no-btn a {
  color: #fff;
  text-decoration: uppercase;
  font-weight: 300;
  font-size: 18px;
  padding: 6px 30px;
}

.nav-pills li.yes-btn a{
  background-color: #1ab394;
  margin: 0 10px 0 0;
}

.nav-pills li.yes-btn a:hover{
  background-color:#18a689;
}

.nav-pills li.no-btn a{
  background-color: #ed5565;
}

.nav-pills li.no-btn a:hover{
  background-color: #ec4758;
}


.progress{
 background: #fff;
 border: 1px solid #dfdedf;
}

// CHART BUTTONS
.highcharts-container{
  margin: 16px 0 0;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
  background-color:#5bc0de;
}

.nav-pills > li > a {
  border-radius: 4px;
  background-color: #ebebeb;
  color: #989898;
  font-size: 11px;
  padding: 5px 12px;
  margin: 2px;
}

.ngrs-range-slider{
  border:none;
  box-shadow: none;
}

.ngrs-runner:before{
  content: " ";
  background: #ccc;
  display: block;
  height: 2px;
  position: absolute;
  top: 8px;
  width: 100%;
}

.ngrs-range-slider .ngrs-join{
  margin: -1px 0 0 0;
  height: 2px;
}
