

// bower:scss
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

$fa-font-path: '/fonts/font-awesome';
@import 'style.css';
@import 'animate.min.css';

.spacer {
  margin-top: 3em;
}

.spacer-2x {
  margin-top: 6em;
}

.spacer-3x {
  margin-top: 9em;
}

.spacer-bottom {
  margin-bottom: 3em;
}

.spacer-bottom-2x {
  margin-bottom: 6em;
}

input + .typeahead.ng-hide { display: block !important; visibility: hidden !important; overflow: hidden; }


#rightmost {
  text-align: right;
  font-size: 20px;
}

#leftmost {
  font-size: 20px;
  text-align: left;
}

#centermost {
  text-align: center;
}

#decorative_bar {
  background-color: #bcbd22;
  height: 10px;
}

.axis path, .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
#tooltip {
    position: absolute;
    text-align: center;
    width: 40px;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}
#tooltip.hidden {
    display: none;
}
#tooltip p {
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}

#title {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26px;

}
