<section id="label-accuracy" class="col-md-12 spacer-2x spacer-2x label-full-row gray-bg" ng-hide="vm.complete">

  <div class="col-md-12 full-row blue-bg cf">
    <div class="med-info col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
      <h2>Label Accuracy</h2>

      <p>Sometimes it takes a real, live person. Help us make medication labels more accurate by answering a few
        questions below. Our computers can scan key terms in labels, but they can't understand the context like a human
        can. We need your help to read the terms in the text below, and report back to us about whether that term is
        listed as a side effect.</p>
    </div>
  </div>

  <div class="row col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 spacer" ng-hide="vm.getPercentage() == 100">
    <div class="col-md-7 med-info">
      <h2>
        <small>Label information for {{vm.drug.brand_name}}</small>
      </h2>
    </div>

    <div class="col-md-4 col-md-offset-1">
      <span><strong>{{vm.count}}/{{vm.total}} complete</strong></span>

      <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar"
             aria-valuenow="{{vm.getPercentage()}}" aria-valuemin="0" aria-valuemax="100"
             ng-style="{width : (vm.getPercentage() + '%')}">
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 spacer">
    <div ng-show="vm.getPercentage() == 100">
      <div class="alert alert-info alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        Thanks for helping us more accurately label medicine!
      </div>
    </div>
  </div>

  <div class="row col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1"
       ng-repeat="stuff in vm.displayedStuff track by $index">
    <div class="col-md-7">
      <div ng-class="!$first?'row disabled spacer-2x':'row label-wrap'" id="adverseSentence">
        <p ng-bind-html="stuff.sentence"></p>
      </div>
    </div>

    <div class="col-md-4 col-md-offset-1">
      <div ng-class="!$first?'row disabled spacer-2x':'row label-wrap'">
        <div align="center">
          Is <strong>{{stuff.effect}}</strong>
          listed on the label as a side effect?<br/><br/>

          <div class="btn-group">
            <button class="btn btn-primary" ng-click="vm.completeIndex($index, true)">Yes</button>
            <button class="btn btn-danger" ng-click="vm.completeIndex($index, false)">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<div ng-controller="LeaderBoardCtrl" ng-include src="'features/leaderBoard/leaderBoard.html'"
     ng-show="vm.complete"></div>

