<section id="label-accuracy" class="features col-md-10 col-md-offset-1 spacer-2x" ng-if="displayedStuff">
  <div class="row" ng-show="selectedDrug">
    <div class="col-md-7 well">
      <h2>From the label of {{selectedDrug.brand_name}}</h2>
    </div>
    <div class="col-md-4 col-md-offset-1 well">
      <div class="progress" bs-tooltip="percentAnswered()">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{getPercentage()}}" aria-valuemin="0"
             aria-valuemax="100" ng-style="{width : (getPercentage() + '%')}">
          <span class="sr-only">{{getPercentage()}}% Complete</span>
        </div>
      </div>
    </div>
  </div>


  <div class="row" ng-repeat="stuff in displayedStuff" style="vertical-align: middle" >
    <input type="text" ng-model="stuff.effect.medical_term" id="stuffGetter" style="display: none"/>

    <div class="col-md-7">
      <div ng-class="!$first?'row well disabled spacer-2x':'row well'" id="adverseSentence">
        {{stuff.sentence}}
      </div>
    </div>

    <script>
      setTimeout(function () {
        $('#adverseSentence').highlight($('#stuffGetter')[0].value)
      }, 500);
    </script>

    <div class="col-md-4 col-md-offset-1">
      <div ng-class="!$first?'row well disabled spacer-2x':'row well'">
        <div align="center">
          Is <strong bs-tooltip="stuff.effect.layman_term" data-placement="top">{{stuff.effect.medical_term.toLowerCase()}}</strong>
          listed on the label as a side effect?<br/><br/>

          <div class="btn-group">
            <button class="btn btn-primary" ng-click="completeIndex($index, true, $first)">Yes</button>
            <button class="btn btn-danger" ng-click="completeIndex($index, false, $first)">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
